
*
{	margin: 0;
	border: 0;
	box-sizing: border-box;
	}
/*---------------------------------------------------------------
Zones principales de la page
-----------------------------------------------------------------*/


/*---------------------------------------------------------------
Typographie et style des entêtes
-----------------------------------------------------------------*/
body {
	font-family: sans-serif;
}
header{
	display: flex;
	justify-content: space-around;
	margin-top: 10vh;
	margin-bottom: 4rem;
}

div.container{
	margin: 0 auto;
	max-width: 50vh;
	justify-content: space-between;

}
h1 {
	font-family: Abalone,Broadway,"Lucida Handwriting", cursive;
	background-color: #000000;
	color : white;
	margin-top : 0;
	padding : 0.5em;
}
caption
{
	font-size: 2rem;
	margin-bottom: 1rem;
	border-bottom: lightgrey solid 0.05rem;
}

/* Traitement des erreurs dans le formulaire
-----------------------------------------------------------------*/
.error{
	border : 1px solid darkred;
	background-color : #F2E4E4;
	color : darkred;
	padding : 1em;
	margin-bottom : 3em;
	width : 90%;
	display: flex;
	justify-content: center;
}
#MessagesErreurs
{
	color: red;
}

/*---------------------------------------------------------------
Tableaux
-----------------------------------------------------------------*/
table {
	border-collapse : collapse;
	margin-bottom : 1em;

}
input
{
	border: darkgray solid 0.05rem;
	width: 6rem;
}
tr
{
	display: flex;
	justify-content: space-between;


}
thead th, tbody td {
	border-bottom : 1px solid black;
	padding : 1em;
}
tfoot * {
	padding : 1em;
}
div.boutons
{
	display: flex;
	justify-content: center;
}
button:hover
{
	border: solid black 0.15rem;
}
button:focus
{

}
.Bouttons
{
	background: #277D70;
	color: white;
	padding: 1rem 2rem;
	margin-top: 2rem;
	margin-right: 2rem;
	border-radius: 10px;
}
.total {
	text-align : right;
}
#total {
	vertical-align: middle;
}
